@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary duration-150 ease-in;
}

.dark {
  --color-bg-primary: #13171d;
  --color-bg-secondary: #a13737;
  --color-text-primary: #fbfbfb;
  --color-text-secondary: #dedede;
  --color-text-accent: #a13737;
  --color-text-button: #fbfbfb;
}

.light {
  --color-bg-primary: #fbfbfb;
  --color-bg-secondary: #ff7c25;
  --color-text-primary: #1c281c;
  --color-text-secondary: #3c4555;
  --color-text-accent: #ff7c25;
  --color-text-button: #fbfbfb;
}
